
.eye.dropper {
  position: relative;
  background-color: #09f;
  margin: 20px auto;
  width: 20px;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 20px;
  border-radius: 200px;
}
.result {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 100px;
  margin-left: 43%;
}
.main {
  display: flex;
}

.container {
  margin-left: 10px; 
  margin-right: 10px; 
  border-radius: 10px;
  text-align: center;
  text-justify: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
}
.first {
  background: rgb(106, 0, 0);
}
.second {
  background: rgb(106, 124, 0);
}
.third {
  background: rgb(106, 124, 138);
}
.fourth {
  background: rgb(15, 124, 138);
}
.fifth {
  background: rgb(15, 44, 138);
}
.sixth {
  background: rgb(219, 238, 97);
}

 .seventch {
   font-family: 'Open Sans', sans-serif;
   background: #092756;
   background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 255, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(255, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
   background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 255, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(255, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
   background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 255, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(255, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
   background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 255, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(255, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
   background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 255, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(255, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
 }

.eye-drop-container {
  align-content: center;
}

#sample, #container { 
  border-radius: 600px; 
  box-shadow: 0 0 1px #000; }
#sample { 
  cursor: crosshair; 
  margin: 50px; 
  width: 500px; 
  height: 500px; 
  position: center; }
#container {
  margin-left: 27%;
  position: relative; 
  float: left; position: center;  
  align-items: center;
  align-content: center;
}